@charset "UTF-8";


body {
	font-family: BIZ UDPゴシック;
	background-color: #F8E8B0;
	text-align: center;
}

h1 {
	font-size: 32px;
	color: #06038D;
	text-shadow:2px 2px 3px rgba(0,0,0,0.2);

border-top: 4px solid #FF9933;
border-bottom:4px solid #138808;
background-color:#FEFBF5;
}

h2 {
	font-size: 28px;
	background-color: #138808;
	color: white
}

hr {
	border: 0;
	border-top: 1px solid #8fbc8f;
}

.error-msg {
	color: red;
}

table {
	border: 3px solid #5D4037;
	border-radius: 10px;
	overflow: hidden;
	border-collapse: separate;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-spacing: 0;
	/* 境界線を共有 */
}

th {

	border: 1px solid #5D4037;
	;
	text-align: center;
	background-color: #E67E22;
	color: white;
	height: 32px;
}

td {
	border: 1px solid #5D4037;
	;
	text-align: center;
	height: 24px;
}

.cartCount {
	color: red;
}

.select-list {
	tr:nth-child(even) {
		background: #FFF8E8;
	}

	tr:nth-child(odd) {
		background: #FDF0D5;
	}
}

.cart-list {
	tr:nth-child(even) {
		background: #FFF8E8;
	}

	tr:nth-child(odd) {
		background: #FDF0D5;
	}
}

.pay-list {
	background-color: #FFE6BF;
	color: #CC6600;
}